ul li{
    display: inline-block;
    float: right;
    margin:2px;
}
ul :first-child{
    float: left;
}
ul :first-child{
    margin-left: 5px;
}
ul :nth-child(2){
    margin-right: 20px;
}
div{
    position: relative;
    top:10px;
    left:5px;
}
h1{
    font-family: 'Caveat', cursive;
    text-align: left;
    position: relative;
    left: 50px;
    top:20px;
}
p{
    font-size: 10px;
    text-align: left;
    position: relative;
    left: 50px;
    top:20px;
}
